<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"><%= t("title.categories") %></h3>
					<div class="box-tools">
						<%= link_to t("link.registering"), new_herba_category_path, class: "btn-register btn-default pull-right" %>
					</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table table-striped">
						<tr>
							<th><%= t("table.name") %></th>
							<th colspan="2"></th>
						</tr>
						<% @categories.each do |category| %>
							<tr>
								<td><%= category.name %></td>
								<td><%= link_to "", edit_herba_category_path(category), class: "fa fa-edit", title: t("link.edit") %></td>
								<td><%= link_to "", category, method: :delete, data: { confirm: t("flash_message.are_you_sure") }, class: "fa fa-trash-o", title: t("link.delete") %></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
