<% if @transaction.errors.any? %>
	<div id="error_explanation">
		<%= t("general.form_error") %>
	</div>
<% end %>
<section class="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title"><%= t("title.credit_card_transaction") %></h3>
				</div>
				<%= form_for(@transaction, url: create_credit_card_home_transactions_path) do |f| %>
					<div class="box-body">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-money"></i>
								</div>
								<%= f.text_field :value, class: "form-control", placeholder: t("placeholder.money_example"), autofocus: true %>
								<%= error_tag @transaction, :value %>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-caret-square-o-down"></i>
								</div>
								<%= f.select :home_client_id, options_from_collection_for_select(get_home_clients, "id", "name", @transaction.home_client_id), {}, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-caret-square-o-down"></i>
								</div>
								<%= f.select :home_category_id, options_from_collection_for_select(get_home_categories, "id", "name", @transaction.home_category_id), {}, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-file-text-o"></i>
								</div>
								<%= f.text_field :description, class: "form-control", placeholder: t("placeholder.description") %>
								<%= error_tag @transaction, :description %>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-caret-square-o-down"></i>
								</div>
								<%= select_tag :parcel, options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]), class: "form-control" %>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<%= f.submit button_name, class: "btn btn-primary" %>
	        </div>
				<% end %>
			</div>
		</div>
	</div>
</section>